In [11]:
import mysql.connector
db=mysql.connector.connect(host="localhost",user="root",passwd="Tarang_067",database="demo")
mycursor = db.cursor()

mycursor.execute("SELECT sum(quantity) FROM data where SKU='Hot Chocolate Fudge'")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(Decimal('8409'),)

In [2]:
import mysql.connector


class Connection:
    def __init__(self):
        self.con = mysql.connector.connect(host="localhost", user="root", passwd="Tarang_067", database="new")
        print("connected")
#         query = 'create table if not exists user(userID int primary key,username varchar(200),phone varchar(12))'
#         query='show databases'
        mycursor = self.con.cursor()
        mycursor.execute("SHOW TABLES")
        l = mycursor.fetchall()
        print(l)   
        
#         print(mycursor.execute(query))
        print("created")

cn = Connection()

connected
[('user',)]
created

In [3]:
import mysql.connector


class Connection:
    # constructor for connecting to database and creating table if not in existance
    def __init__(self):
        self.con = mysql.connector.connect(host="localhost", user="root", passwd="Tarang_067", database="new")
        print("connected")
        query = 'create table if not exists user(userID int primary key,username varchar(200),phone varchar(12))'
        mycursor = self.con.cursor()       
        print(mycursor.execute(query))
        print("created")
        
        
    # insert data    
    def insert_data(self,userID,username,phone):
        query= "insert into user(userID,username,phone) values({},'{}','{}')".format(userID,username,phone)
        c=self.con.cursor()
        c.execute(query)
        self.con.commit()
        print("user saved to db")
        
        
    # fetch the whole data from database   
    def fetch_all(self):
        mycursor = self.con.cursor()
        mycursor.execute("SELECT * FROM user")
        myresult = mycursor.fetchall()
        for x in myresult:
#             print("user ID ",x[0])
#             print("user name ",x[1])
#             print("user phone ",x[2])
#             print()
#             print()
              print(x)
    
    
    # delete a row by ID
    def delete_data(self,userID):
        mycursor=self.con.cursor()
        mycursor.execute("delete from user where userID={}".format(userID))
        self.con.commit()
        print("deleted specified id ")
       
    
    # order by
    def order_by(self):
        mycursor = self.con.cursor()
        mycursor.execute("SELECT * FROM user order by username")
        myresult = mycursor.fetchall()
        for x in myresult:
              print(x)
    
    # update 
    def update_table(self,username,phone,userID):
        mycursor = self.con.cursor()
        mycursor.execute("update user set username='{}',phone='{}' where userID={}".format(username,phone,userID))
        self.con.commit()
        print("updated")
        
cn = Connection()
# cn.insert_data(45,"megha","3456")

connected
None
created

In [4]:

        
# cn.insert_data(46,'keyur','234')        
# cn.insert_data(47,'keval','234') 
# cn.insert_data(48,'viyanshi','234') 
# # cn.insert_data(46,'khushi','234') 
# cn.insert_data(42,'heet','234') 
# cn.insert_data(49,'kiran','234')

In [5]:
cn.fetch_all()

(42, 'heet', '234')
(46, 'megha', '234')
(47, 'keval', '234')
(48, 'megha', '123')
(49, 'kiran', '234')

In [6]:
cn.delete_data(45)

deleted specified id

In [7]:
cn.fetch_all()

(42, 'heet', '234')
(46, 'megha', '234')
(47, 'keval', '234')
(48, 'megha', '123')
(49, 'kiran', '234')

In [8]:
cn.order_by()

(42, 'heet', '234')
(47, 'keval', '234')
(49, 'kiran', '234')
(46, 'megha', '234')
(48, 'megha', '123')

In [9]:
cn.update_table('megha',123,48)

updated